*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightcyan ;
    /* opacity: 0.2; */
}
.titulo{
    text-align:center ;
    color:black;
     text-justify: auto;
}
#encabezado{
    margin-bottom: -25px;
    background-image: url("../img/TecNM_logo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 210px;
    

}
.container-titulo-acerca-de{
    text-align: center;
    color: black;
}
